@font-face {
  font-family: 'Lato-Black';
  src: url(./assets/Lato-Black.ttf);
  }

  @font-face {
  font-family: 'Lato-Bold';
  src: url(./assets/Lato-Bold.ttf);
  }

  @font-face {
  font-family: 'Lato-Light';
  src: url(./assets/Lato-Light.ttf);
  }

  @font-face {
  font-family: 'Lato-Regular';
  src: url(./assets/Lato-Regular.ttf);
  }


body, h1{
  margin: 0;
}

header{
  background: #2D303A;
  width: 1020px;
  margin: 0 auto;
  height: 89px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  align-items: center;
}

.header__logo__text{
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Lato-Bold';
  font-size: 23.5px;
  padding: 0 0 0 40px;
}

.header__menu {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0 11px 0 0;
  height: 12px;
}

.header__nav__item--link:not(:first-child)::before{
  content: '·';
  padding: 0 12px;
  color: #FFFFFF
}

.header__nav__item--link{
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 11.5px;
  font-family: "Lato-Bold";
}
.header__nav__item--link:hover{
  color: #F06C64;
}

.header__bottom-line{
  background: #323746;
  width: 1020px;
  margin: 0 auto;
  height: 6px;
}


.active{
  color: #F06C64;
}
