@font-face {
  font-family: 'Lato-Black';
  src: url(./assets/fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./assets/fonts/Lato-Regular.ttf);
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}



header {
  background: #2D303A;
  width: 1020px;
  margin: 0 auto;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: calc(50% - 510px);
  z-index: 10;
}
.anchor {
  position: absolute;
  left: 0;
  top: -87px;
}

.header__logo__text {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Lato-Bold';
  font-size: 23.5px;
  padding: 0 0 0 40px;
}

.header__menu {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0 11px 0 0;
  height: 12px;
}

.header__nav__item--link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 11.5px;
  font-family: "Lato-Bold";
}

.header__nav__item--dot {
  padding: 0 8.8px;
  color: #494e62;
  margin: 0 0 0 0;
}

.header__nav__item--link:hover {
  color: #F06C64;
}

.header__bottom-line {
  background: #323746;
  width: 1020px;
  margin: 0 auto;
  padding: 89px 0 0 0;
  height: 6px;
}

main {
  background: #F06C64;
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

.main__slider {
  width: 100%;
  /* background: #F06C64; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 0px 0px 0px 0px;
  height: 593px;
  overflow: hidden;
}

.slide1{
  position: relative;
  display: inline-block;
  margin: 0px 0 0 0;
  width: 100%;
  height: 100%;
  background: url(./assets/img/slide-1.png) top no-repeat;

}
.slide2{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(./assets/img/slide-2.png) center no-repeat;
  left: 100%;
  top: calc(-100% - 4px);
}

.main__slider__left-arrow {
  background: url(./assets/img/left_arrow.png) center no-repeat;
  width: 27px;
  height: 27px;
  border: 0.5px #ffffff00 solid;
  position: absolute;
  left: 36px;
  top: 280px;
  z-index: 9;
}

.main__slider__left-arrow:hover {
  opacity: 50%;
  cursor: pointer;
  border-radius: 50%;
}

.main__slider__right-arrow {
  background: url(./assets/img/right_arrow.png) center no-repeat;
  width: 27px;
  height: 27px;
  border: 0.5px #ffffff00 solid;
  position: absolute;
  right: 33px;
  top: 280px;
  z-index: 9;
}

.main__slider__right-arrow:hover {
  opacity: 50%;
  cursor: pointer;
  border-radius: 50%;
}

.main__slider__vertical-phone {
  width: 240px;
  height: 483px;
  background: url(./assets/img/phone_vertical.png) no-repeat;
  padding: 0 25px 0 0;
}

.main__slider__gorizontal-phone {
  width: 482px;
  height: 240px;
  background: url(./assets/img/phone_gotizontal.png) no-repeat;
  padding: 1px 3px 0 0;
}

.main__slider__line {
  background: #ea676b;
  height: 7px;
}

.main__articles {
  background: #f2f2f2;
  width: 940px;
  height: 434px;
  padding: 59.5px 40px 0 40px;
  letter-spacing: -0.17px;
  position: relative;
}

.main__articles__title {
  font-family: 'Lato-Black';
  font-size: 29px;
  color: #666d89;
  text-align: justify;
  padding: 0 0 19px 0;
}

.main__articles__text {
  font-family: 'Lato-Light';
  font-size: 18px;
  color: #767e9e;
  text-align: justify;
  line-height: 1.6;
}

.main__articles__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 49px 0 0 0;
  align-content: space-between;
  height: 209px;
}

.main__articles__advantages__item {
  width: 299px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1px 0 0;
}

.main__articles__advantages__item h3 {
  font-family: 'Lato-Black';
  font-size: 17.5px;
  color: #666d89;
  line-height: 0.9;
  padding: 0 0 10px 1px;
}

.main__articles__advantages__item p {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #767e9e;
  line-height: 1.8;
  text-align: justify;
}

.main__articles__advantages__item__img--pen {
  background: url(./assets/img/pen.png) center no-repeat;
  width: 59px;
  height: 59px;
  padding: 0 2px 0 0;
}

.main__articles__advantages__item__img--bulb {
  background: url(./assets/img/bulb.png) center no-repeat;
  width: 59px;
  height: 59px;
}

.main__articles__advantages__item__img--heart {
  background: url(./assets/img/heart.png) center no-repeat;
  width: 59px;
  height: 59px;
}

.main__articles__advantages__item__img--phone {
  background: url(./assets/img/phone.png) center no-repeat;
  width: 59px;
  height: 59px;
  padding: 0 2px 0 0;
}

.main__articles__advantages__item__img--bubble {
  background: url(./assets/img/bubble.png) center no-repeat;
  width: 59px;
  height: 59px;
}

.main__articles__advantages__item__img--star {
  background: url(./assets/img/star.png) center no-repeat;
  width: 59px;
  height: 59px;
}

.main__articles__advantages__item__text {
  width: 220px;
}

.main__articles__line {
  width: 1020px;
  height: 6px;
  background-color: #FFFFFF;
}

.active {
  color: #F06C64;
}

.unvisible {
  display: none;
}

.portfolio {
  width: 1020px;
  margin: 0 auto;
  background: #2d303a;
  height: 802px;
  padding: 61px 0 0 0;
  position: relative;
}

.portfolio__header,
.portfolio__text {
  margin: 0 40px;
}

.portfolio__tags {
  margin: 0 41px 22px 41px;
}

.portfolio__header {
  font-family: 'Lato-Black';
  font-size: 28px;
  color: #666d89;
  text-align: justify;
  padding: 0 0 22px 0;
  letter-spacing: 0.75px;
}

.portfolio__text {
  font-family: 'Lato-Light';
  font-size: 18px;
  color: #767e9e;
  text-align: justify;
  padding: 0 0 16px 0;
}

.portfolio__tags__item--all,
.portfolio__tags__item--web-des,
.portfolio__tags__item--graph-des,
.portfolio__tags__item--artwork {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #767e9e;
  text-align: justify;
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 2px 7px 4px 7px;
  margin: 0px 6px 0px 0px;
}

.portfolio__tags__item--all:hover,
.portfolio__tags__item--web-des:hover,
.portfolio__tags__item--graph-des:hover,
.portfolio__tags__item--artwork:hover {
  border: 1px solid #c5c5c5;
  color: #dedede;
  cursor: pointer;
}

.active_portfolio_tag{
  border: 1px solid #c5c5c5;
  color: #dedede;
}

.portfolio__tags__item--all {
  padding: 2px 6px 3px 6.5px;
}

.portfolio__tags__item--web-des {
  padding: 2px 5px 3px 7px;
}

.portfolio__tags__item--graph-des {
  padding: 2px 5.5px 3px 6px;
}

.portfolio__tags__item--artwork {
  padding: 2px 4.5px 3px 6px;
}

.portfolio__projects {
  display: flex;
  margin: 0 0 0 40px;
  width: 940px;
  height: 601px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.porfolio__projects__item {
  width: 220px;
  height: 187px;
  background: #000000;
}

.porfolio__projects__item:hover{
  cursor: pointer;
}

.active_portfolio {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
  -moz-box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
  box-shadow: 0px 0px 0px 5px rgba(240,108,100,1);
}

.porfolio__projects__item__img {
  width: 220px;
  height: 187px;
  object-fit: none;
}

.portfolio__line {
  width: 1020px;
  height: 6px;
  background: #323746;
  margin: 0 auto;
}

.about-us {
  width: 1020px;
  height: 667px;
  background: #f2f2f2;
  margin: 0 auto;
  padding: 61px 0 0 0;
  position: relative;
}

.about-us__title {
  font-family: 'Lato-Black';
  color: #666d89;
  font-size: 28px;
  margin: 0 40px 18px 41px;
  letter-spacing: 0.93px;
}

.about-us__text {
  font-family: 'Lato-Light';
  font-size: 18px;
  color: #767e9e;
  margin: 0 40px 44px 41px;
  line-height: 1.7;
}

.about-us__peoples {
  width: 941px;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 40px;
}

.about-us__peoples__item {
  width: 301px;
}

.about-us__peoples__item:nth-child(3n) {
  padding: 0 0 0 1px;
}

.about-us__peoples__img {
  width: 300px;
  height: 300px;
  object-fit: none;
}

.about-us__peoples__name {
  font-family: 'Lato-Black';
  font-size: 18px;
  color: #666d89;
  padding: 12px 0 8px 0;
  letter-spacing: -0.5px;
}

.about-us__peoples__text {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #767e9e;
  padding: 0 0 23.5px 0;
  line-height: 1.75;
}

.about-us__peoples__social-icons__item--links {
  width: 31px;
  height: 31px;
  border: 1px #666d89 solid;
  border-radius: 50%;
  display: inline-block;
}

.about-us__peoples__social-icons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 153px;
  padding: 0 0 0 1px;
}

.about-us__peoples__social-icons__item--links:first-child {
  background: url(assets/img/facebook.png) no-repeat center;
}

.about-us__peoples__social-icons__item--links:nth-child(2) {
  background: url(assets/img/google+.png) no-repeat center;
}

.about-us__peoples__social-icons__item--links:nth-child(3) {
  background: url(assets/img/twitter.png) no-repeat center;
}

.about-us__peoples__social-icons__item--links:last-child {
  background: url(assets/img/linkedin.png) no-repeat center;
}

.about-us__peoples__social-icons__item--links:hover {
  opacity: 50%;
}

.about-us__line {
  width: 1020px;
  height: 6px;
  background: #ffffff;
  margin: 0 auto;
}

.form {
  background: #f06c64;
  width: 940px;
  padding: 60px 40px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.form__header {
  font-family: 'Lato-Black';
  color: #f0d8d9;
  font-size: 28px;
  margin: 0px 0px 19px 0px;
  letter-spacing: 0.2px;
}

.form__text {
  font-family: 'Lato-Light';
  font-size: 18px;
  color: #f0d8d9;
  margin: 0 0px 41px 0px;
  line-height: 1.7;
}

.form__fields {
  width: 619px;
  margin: 2px 0px 0px 0px;
}

.form__fields__item {
  font-family: "Lato-Regular";
  width: 605px;
  font-size: 12px;
  color: #f48c8f;
  height: 38px;
  border-radius: 5px;
  background: #d6564f;
  padding: 0px 0 0 14px;
  border: 0px;
  margin: 0 0 16px 0;
}

.form__fields__item--submit {
  font-family: "Lato-Regular";
  width: 619px;
  font-size: 12px;
  color: #f48c8f;
  height: 38px;
  border-radius: 5px;
  background: #d6564f;
  border: 0px;
  margin: 0 0 13px 0;
}

.form__fields__item--submit:hover {
  background: #cc271f;
  cursor: pointer;
}

.form__fields__item--textarea {
  font-family: "Lato-Regular";
  height: 190px;
  padding: 12px 0 0 16px;
  width: 603px;
  font-size: 12px;
  color: #f48c8f;
  border-radius: 5px;
  background: #d6564f;
  border: 0px;
  margin: 0 0 16px 0;
}

.form__fields__item--textarea::placeholder {
  font-family: "Lato-Regular";
}

.form__fields__item::placeholder {
  color: #f48c8f;
  font-family: "Lato-Regular";
}

.form__contacts {
  width: 300px;
}

.form__contacts__title {
  font-family: 'Lato-Black';
  color: #f0d8d9;
  font-size: 18px;
  margin: 0px 0px 8px 0px;
  letter-spacing: -0.4px;
}

.form__contacts__text,
.form__contacts--links {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #f0d8d9;
  margin: 0 0px 22px 0px;
  line-height: 1.8;
  text-decoration: none;
}

.form__contacts--links:hover {
  color: #c57a7c;
}

.fa {
  margin: 0 15px 0 0;
  font-size: 10px;
  color: #dedede;
}

.form__contacts--links {
  margin: 0 50px 0 0;
}

.footer {
  width: 940px;
  height: 76px;
  background: #2d303a;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  align-self: center;
}

.footer__copyright__text {
  font-family: 'Lato-Regular';
  font-size: 12px;
  color: #666d89;
  margin: 0 0 2px 0;
}

.footer__social-icons__item--links {
  width: 31px;
  height: 31px;
  border: 1px #666d89 solid;
  border-radius: 50%;
  display: inline-block;
}

.footer__social-icons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 153px;
  padding: 0 0 0 1px;
  align-self: center;
}

.footer__social-icons__item--links:first-child {
  background: url(assets/img/facebook.png) no-repeat center;
}

.footer__social-icons__item--links:nth-child(2) {
  background: url(assets/img/google+.png) no-repeat center;
}

.footer__social-icons__item--links:nth-child(3) {
  background: url(assets/img/twitter.png) no-repeat center;
}

.footer__social-icons__item--links:last-child {
  background: url(assets/img/linkedin.png) no-repeat center;
}

.footer__social-icons__item--links:hover {
  opacity: 50%;
}

.form__line {
  width: 1020px;
  margin: 0 auto;
  height: 6px;
  background: #ea676b;
}

.active_nav{
  color: #F06C64;
}